<!DOCTYPE html>
<html>
    <head>
        <title>Book List</title>
    </head>
    <body>
         <!--NavBar-->
        <nav class="navbar" style="float: left; width: 20%; min-height: 100vh; background-color: grey;">
            <ul style="padding-top: 65%; padding-left: 25%; list-style-type: none;">
                <li><a href="index.html"><h1>Homepage</h1></a></li>
                <li><a href=book-list.html><h1>Books</h1></a></li>
            </ul>
        </nav>
        <!--Create nested  container to hold the image of the book and other related information such as publishing date, summary...-->
        <div class="main" style="float: right; width: 80%; min-height: 100vh;">
            <div style="margin: 5%;">
            <img src="Frankenstein.jpg" alt="Frankenstein" width="30%" style="float: left">
            <h1>Frankenstein by Mary Shelley</h1><br>
            <p>published: January 1, 1818 <br>
                summary: <br><cite>Frankenstein; or, The Modern Prometheus is an 1818 novel written by English author Mary Shelley. Frankenstein tells the story of Victor Frankenstein, a young scientist who creates a sapient creature in an unorthodox scientific experiment.</cite> 
                <br><a href="https://en.wikipedia.org/wiki/Frankenstein">https://en.wikipedia.org/wiki/Frankenstein</a>
            </p>
            </div>
        </div>