<!DOCTYPE html>
<html>
    <head>
        <title>Book List</title>
    </head>
    <body>
         <!--NavBar-->
        <nav class="navbar" style="float: left; width: 20%; min-height: 100vh; background-color: grey;">
            <ul style="padding-top: 65%; padding-left: 25%; list-style-type: none;">
                <li><a href="index.html"><h1>Homepage</h1></a></li>
                <li><a href=book-list.html><h1>Books</h1></a></li>
            </ul>
        </nav>
        <!--Create nested  container to hold the image of the book and other related information such as publishing date, summary...-->
        <div class="main" style="float: right; width: 80%; min-height: 100vh;">
            <div style="margin: 5%;">
            <img src="MazeRunner.jpg" alt="The Maze Runner" width="30%" style="float: left">
            <h1>The Maze Runner by James Dashner</h1><br>
            <p>published: October 6, 2009 <br>
                summary: <br><cite>The Maze Runner is a story about a small civilization surrounded by a limitless, ever changing maze. The only way to escape is through the maze, a place where no one has lived to tell the tale.</cite> 
                <br><a href="https://en.wikipedia.org/wiki/The_Maze_Runner_(book_series)">https://en.wikipedia.org/wiki/The_Maze_Runner_(book_series)</a>
            </p>
            </div>
        </div>