<!DOCTYPE html>
<html>
    <head>
        <title>Book List</title>
    </head>
    <body>
        <!--NavBar-->
        <nav class="navbar" style="float: left; width: 20%; min-height: 100vh; background-color: grey;">
            <ul style="padding-top: 65%; padding-left: 25%; list-style-type: none;">
                <li><a href="index.html"><h1>Homepage</h1></a></li>
                <li><a href=book-list.html><h1>Books</h1></a></li>
            </ul>
        </nav>
        <!--Create nested  container to hold the image of the book and other related information such as publishing date, summary...-->
        <div class="main" style="float: right; width: 80%; min-height: 100vh;">
            <div style="margin: 5%;">
            <img src="AtomicHabits.jpg" alt="AtomicHabits" width="30%" style="float: left">
            <h1>Atomic Habits by James Clear</h1><br>
            <p>published: October 16, 2018 <br>
                summary: <br><cite>Atomic Habits is the definitive guide to breaking bad behaviors and adopting good ones in four steps, showing you how small, incremental, everyday routines compound into massive, positive change over time.</cite> 
                <br><a href="https://fourminutebooks.com/atomic-habits-summary/">https://fourminutebooks.com/atomic-habits-summary</a>
            </p>
            </div>
        </div>