<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <!-- Create the Navigation bar using an unindexed list. CSS is used to adjust the size, position and background color of the navbar.-->
    <nav class="navbar" style="float: left; width: 20%; min-height: 100vh; background-color: grey;">
        <ul style="padding-top: 65%; padding-left: 25%; list-style-type: none;">
            <li><a href="index.html"><h1>Homepage</h1></a></li>
            <li><a href=book-list.html><h1>Books</h1></a></li>
        </ul>
    </nav>
    <!-- Create a container and position it on the right side of the navigation bar. Use CSS to adjust size and position.-->
    <div class="main" style="float: right; width: 80%; min-height: 100vh;">
        <h1 style="text-align:center; margin-top: 5%;">Mathew's Library</h1>
        <!--Create a container within the first one where some text will be displayed.-->
        <div>
            <p style="text-align: center; margin-top: 10%; font-size: large;">Welcome to Mathew's library.<br> Feel free to look around by using
            the links provided in the navigation bar on the left-hand side. </p>
        </div>
    </div>
</body>
</html>
